
    <div class="row">
        <!-- Edit Form -->
      


        <!-- Student Table -->
        <div class="col-md-12">
           
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach(student => { %>
                                    <tr>
                                        <td><%= student.name %></td>
                                        <td><%= student.email %></td>
                                        <td>
                                            <a href="/admin/edit-student-form/<%= student._id %>" class="btn btn-warning">Edit</a>
                                        <a href="/admin/delete-student/<%= student._id %>" class="btn btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            
        </div>
    </div>

