<div class="bg-light border-end" style="width: 250px; height: 100vh;">
    <ul class="nav flex-column p-3">
        <li class="nav-item mb-3">
            <a class="nav-link text-dark" href="/admin/adminDash"><i class="fas fa-home me-2"></i> Home</a>
        </li>
        <li class="nav-item mb-3">
            <a class="nav-link text-dark" data-bs-toggle="collapse" href="#manageExamineSubmenu" role="button" aria-expanded="false" aria-controls="manageExamineSubmenu">
                <i class="fas fa-user-tag me-2"></i> Manage Examine
            </a>
            <div class="collapse" id="manageExamineSubmenu">
                <ul class="nav flex-column ms-3">
                    <li class="nav-item">
                        <span class="nav-link text-dark loadStudentList" style="cursor: pointer;" id="">List Examinee</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link text-dark" style="cursor: pointer;" id="editButton">Edit Examinee</span>

                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item mb-3">
            <a class="nav-link text-dark" data-bs-toggle="collapse" href="#manageExamSubmenu" role="button" aria-expanded="false" aria-controls="manageExamSubmenu">
                <i class="fas fa-user-plus me-2"></i> Manage Exam
            </a>
            <div class="collapse" id="manageExamSubmenu">
                <ul class="nav flex-column ms-3">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/admin/all-exams">All Exams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/admin/add-exams">Add Exam</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item mb-3">
            <a class="nav-link text-dark" data-bs-toggle="collapse" href="#manageQuestionSubmenu" role="button" aria-expanded="false" aria-controls="manageQuestionSubmenu">
                <i class="fas fa-upload me-2"></i> Manage Questions</a>
            <div class="collapse" id="manageQuestionSubmenu">
                <ul class="nav flex-column ms-3">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/admin/all-question">All Questions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/admin/add-question">Add Question</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>