<div class="col-md-3 mb-4">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">
        <i class="fas fa-user-circle me-2"></i> Profile
      </a>
      <a href="/student/exams" class="list-group-item list-group-item-action">
        <i class="fas fa-book me-2"></i> My Exams
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <i class="fas fa-chart-line me-2"></i> Results
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <i class="fas fa-cog me-2"></i> Settings
      </a>
      <a href="#" class="list-group-item list-group-item-action text-danger">
        <i class="fas fa-sign-out-alt me-2"></i> Logout
      </a>
    </div>
  </div>